@font-face {
    font-family: 'DINPro-Regular';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('/assets/fonts/DINPro-Regular-efb8e9a514181696333731a997a414b9.woff2') format('woff2'), url('/assets/fonts/DINPro-Regular-b4084fb12355f4f88046ead44e65cd4b.woff') format('woff');
}

@font-face {
    font-family: 'DINPro-Medium';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('/assets/fonts/DINPro-Medium-a982fdd7f7403b7ec05bfe634e330068.woff2') format('woff2'), url('/assets/fonts/DINPro-Medium-b28aef66b71c1c22be7482dcb416a159.woff') format('woff');
}

@font-face {
    font-family: 'DINPro-Bold';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('/assets/fonts/DINPro-Bold-cc5c5098dc67cfb7ccf4f395362a956e.woff2') format('woff2'), url('/assets/fonts/DINPro-Bold-6cfc16f5fea9cb66982dd1c3ac0bddf1.woff') format('woff');
}

html,
body {
    height: 100%;
    font-size: 62.5%;
}

body {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    font-family: 'DINPro-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
    color: #1c1c1c;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1rem;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
}

a:hover {
    color: #e60000;
    text-decoration: none;
}

.logo {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    padding-bottom: 50%;
}

.fixed-top {}

.tooltip {
    font-size: 1.2rem !important;
}

.navbar {
    padding: .75rem 2rem;
}

.navbar-brand-wrapper {
    background-color: #000000f0 !important;
    margin-top: -56px;
}

a.navbar-brand {
    color: #ffffff;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    max-width: 75%;
}

.navbar-brand h1 {
    font-size: 2.25rem;
    padding: 0;
    margin: 0;
    font-family: 'DINPro-Medium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar-nav-svg {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-top;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .55);
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.header-toolbar li+li {
    padding-left: 1rem;
}

.likes .navbar-nav-svg {
    width: 2rem;
    height: 2rem;
}

.nav-item .shopping-cart-number,
.nav-item .likes-number {
    border-radius: 50%;
    height: 16px;
    width: 16px;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    position: absolute;
    margin-left: -7px;
    margin-top: 9px;
    display: none;
    font-size: 1rem;
    font-family: 'DINPro-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.nav-item .likes-number {
    background: #fd397a;
}

.nav-item .shopping-cart-number {
    background: #47c735;
}

header {
    background: linear-gradient(#ffffff, #ffffffaa);
}

.likes {
    outline: 0px;
}

.header-holder {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.fixed-header .navbar .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.fixed-header .navbar .container-fluid .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.description {
    color: #222222;
    font-family: 'DINPro-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.btn-like {
    font-size: 1.8rem !important;
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    top: -0.75rem;
    right: 0;
}

.like-active:hover,
.like-active {
    color: #ff0068;
}

.btn:focus {
    box-shadow: none;
}

.header {
    background-color: #ffffff;
}

.main {
    flex: 1 0 auto;
    font-size: 1.4rem;
    padding-bottom: 3rem;
}

.no-webp .main {
    background: url(/assets/images/background-6ecf79dbb9a59248510d64773993254e.jpg);
}

.webp .main {
    background: url(/assets/images/background-673cc06fd5658b9d5953622d746b36b6.webp);
}

.footer {
    padding: 5rem 0 6rem 0;
    background-color: #000000;
    font-size: 1.4rem;
    color: #e0e0e0;
    line-height: 2.5rem;
}

.footer a {
    flex-shrink: 0;
    color: #e0e0e0;
}

.footer a:hover {
    flex-shrink: 0;
    color: #ffffff;
}

.footer .brand-label {
    display: inline-block;
    padding-top: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.5rem;
    color: #909090;
}

.footer .brand-label a {
    color: #909090;
}

.footer .brand-label a:hover {
    color: #ffffff;
}

.footer-main-part {
    justify-content: space-between;
    display: flex;
    padding: 0 10px !important;
    font-size: 1.6rem;
}

.footer .nav-item a {
    color: #909090;
}

.footer .nav-item a:hover {
    color: #ffffff;
}

.footer .nav-item a#back-top {
    color: #909090;
}

.sub-navigation {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    padding: .75rem 2rem;
}

.sub-navigation nav {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sub-navigation .breadcrumb {
    background-color: transparent;
    margin-bottom: 0;
    padding: 0;
    font-size: 1.6rem;
    display: flex;
    flex-wrap: nowrap;
    font-family: 'DINPro-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.sub-navigation .breadcrumb-item:first-child {
    overflow: visible;
}

.sub-navigation .breadcrumb-item {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sub-navigation .breadcrumb-item.active {}

.categories-header {}

.fixed-header {
    box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.08)
}

.subcategories {
    background: #ffffff;
}

.subcategory-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0 0 0 0rem
}

.subcategories {
    display: none;
}

.showcase {
    margin-left: -15px;
    margin-right: -15px;
    padding-top: .5rem;
    display: block;
}

.showcase .no-image {}

.showcase .thumbnail {
    display: none;
}

.showcase .subcategories {
    margin-bottom: 0.5rem;
    display: none;
}

.showcase .subcategories:last-child {
    margin-bottom: 0rem;
}

.categories {
    padding-top: 0.5rem;
}

.categories .row {
    margin-right: -10px;
    margin-left: -10px;
}

.category {
    margin-bottom: 0.25rem;
    box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
}

.categories .col {
    padding-right: 2px;
    padding-left: 2px;
}

.category-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-bottom: 100%;
    display: block;
}

.category-title {
    background-color: #ffffff;
    padding: 1rem 1.5rem;
    display: block;
    font-size: 1.4rem;
    font-family: 'DINPro-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.subcategory .menu-item .amount {
    margin-bottom: 0.75em;
    font-size: 1.2rem;
    color: #222222;
}

.subcategory .menu-item .description {
    white-space: pre-line
}

.likes-list {}

.shopping-cart-list .amount,
.likes-list .amount {
    font-size: 1.2rem;
}

.shopping-cart-list .menu-item-image,
.likes-list .menu-item-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-bottom: 100%;
    border-radius: 4px;
    margin-top: 0.5rem;
}

.likes-list .price-item {}

.shopping-cart-list .price,
.likes-list .price {
    font-family: 'DINPro-Medium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.shopping-cart-list .price-item.strike,
.likes-list .price-item.strike {
    position: relative;
}

.shopping-cart-list .price-item.strike::after,
.likes-list .price-item.strike::after {
    content: '';
    border-bottom: 2px solid red;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
}

.card-body {
    padding: 1.25rem 2rem;
}

.card-body .special-offer {
    padding-top: 1rem;
    margin-bottom: 0.5rem;
}

.compact .card-body .special-offer {
    padding-top: 0;
}

.card-body .special-offer .badge {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    padding: .4em .6em;
}

.card-body .special-offer-description {
    font-family: 'DINPro-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    white-space: pre-line;
}

.card-footer .price-item.strike {
    position: relative;
    display: inline-block;
}

.card-footer .price-item.strike::after {
    content: '';
    border-bottom: 2px solid red;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
}

.card-body .price-item {
    margin-right: 0.5rem;
    white-space: nowrap;
}

.card-footer {
    background-color: transparent;
    border-top: none;
    padding: 1.25rem 2rem;
}

.card-footer .price-area {
    margin-bottom: 0;
    margin-top: 0;
}

.shopping-cart-list .card-body,
.likes-list .card-body {
    padding: 0.5rem 1.25rem 0rem 1.25rem;
}

.shopping-cart-list .price-wrapper,
.likes-list .price-wrapper {
    font-family: 'DINPro-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding-top: 0.5rem;
}

.shopping-cart-list .card,
.likes-list .card {
    border: none;
    border-bottom: 1px dashed #ebedf2;
    border-radius: 0;
}

.shopping-cart-list .card:last-child,
.likes-list .card:last-child {
    border-bottom: none;
}

.shopping-cart-list svg,
.likes-list .btn-remove svg {
    width: 1.4rem;
    height: 1.4rem;
    margin-top: 0.4rem;
    color: #404040;
}

.shopping-cart-list svg:hover,
.likes-list .btn-remove svg:hover {
    color: #000000;
}

.subcategory-body .card {
    border: none;
    border-radius: 0;
    min-height: 100%;
}

.thumbnail-square-image,
.square-image {
    width: 100%;
    padding-top: 100%;
    position: relative;
}

.thumbnail-square-image a,
.thumbnail-square-image img,
.square-image img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.subcategory-body .card-img,
.subcategory-body .card-img-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.subcategory-body .col,
.subcategory-body .col-1,
.subcategory-body .col-10,
.subcategory-body .col-11,
.subcategory-body .col-12,
.subcategory-body .col-2,
.subcategory-body .col-3,
.subcategory-body .col-4,
.subcategory-body .col-5,
.subcategory-body .col-6,
.subcategory-body .col-7,
.subcategory-body .col-8,
.subcategory-body .col-9,
.subcategory-body .col-auto,
.subcategory-body .col-lg,
.subcategory-body .col-lg-1,
.subcategory-body .col-lg-10,
.subcategory-body .col-lg-11,
.subcategory-body .col-lg-12,
.subcategory-body .col-lg-2,
.subcategory-body .col-lg-3,
.subcategory-body .col-lg-4,
.subcategory-body .col-lg-5,
.subcategory-body .col-lg-6,
.subcategory-body .col-lg-7,
.subcategory-body .col-lg-8,
.subcategory-body .col-lg-9,
.subcategory-body .col-lg-auto,
.subcategory-body .col-md,
.subcategory-body .col-md-1,
.subcategory-body .col-md-10,
.subcategory-body .col-md-11,
.subcategory-body .col-md-12,
.subcategory-body .col-md-2,
.subcategory-body .col-md-3,
.subcategory-body .col-md-4,
.subcategory-body .col-md-5,
.subcategory-body .col-md-6,
.subcategory-body .col-md-7,
.subcategory-body .col-md-8,
.subcategory-body .col-md-9,
.subcategory-body .col-md-auto,
.subcategory-body .col-sm,
.subcategory-body .col-sm-1,
.subcategory-body .col-sm-10,
.subcategory-body .col-sm-11,
.subcategory-body .col-sm-12,
.subcategory-body .col-sm-2,
.subcategory-body .col-sm-3,
.subcategory-body .col-sm-4,
.subcategory-body .col-sm-5,
.subcategory-body .col-sm-6,
.subcategory-body .col-sm-7,
.subcategory-body .col-sm-8,
.subcategory-body .col-sm-9,
.subcategory-body .col-sm-auto,
.subcategory-body .col-xl,
.subcategory-body .col-xl-1,
.subcategory-body .col-xl-10,
.subcategory-body .col-xl-11,
.subcategory-body .col-xl-12,
.subcategory-body .col-xl-2,
.subcategory-body .col-xl-3,
.subcategory-body .col-xl-4,
.subcategory-body .col-xl-5,
.subcategory-body .col-xl-6,
.subcategory-body .col-xl-7,
.subcategory-body .col-xl-8,
.subcategory-body .col-xl-9,
.subcategory-body .col-xl-auto {
    padding-right: 0rem;
    padding-left: 0rem;
}

.subcategory-body .row-cols-1>.col {
    padding-right: 0em;
    padding-left: 0rem;
}

@media (min-width: 768px) {
    .subcategory-body .row-cols-1>.col {
        padding-right: 0.25rem;
        padding-left: 0.25rem;
    }
}

.subcategory-body .row {
    margin-right: 0rem;
    margin-left: 0rem;
}

.menu-item h3 {
    font-size: 1.8rem;
    font-family: 'DINPro-Medium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.menu-item .price-area {
    font-family: 'DINPro-Medium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.menu-item .card-footer .price-item {}

.menu-item .card-footer .special-offer-price,
.menu-item .card-footer .price {
    font-size: 2rem;
    font-family: 'DINPro-Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.menu-item .card-footer .strike .price,
.menu-item .card-footer .currency {
    font-family: 'DINPro-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
}

.menu-item .strike .currency {
    font-size: 1.25rem;
}

.menu-item .time-wrapper {
    color: #202020;
    display: flex;
    justify-content: flex-end;
}

.menu-item .time-wrapper span {
    font-size: 1.3rem;
    margin-left: 0.5rem;
}

.new-menu-item-thumbnail,
.new-menu-item {
    position: absolute;
    right: 0;
    background: #0abb87;
    color: #ffffff;
    padding: 0.25rem 0.75rem;
    border-radius: 0.25rem;
    margin: 1.5rem 2rem;
    font-weight: 400;
    font-family: 'DINPro-Medium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    top: 0;
}

.new-menu-item-thumbnail {
    display: none;
}

.compact .new-menu-item-thumbnail {
    display: block;
    margin: 1rem 0 0 0;
    border-radius: .25rem 0 0 .25rem;
}

.compact .new-menu-item {
    display: none;
}

.compact new-menu-item-thumbnail {
    display: block;
}

.menu-item-specific-wrapper {
    display: block;
    justify-content: flex-end;
    padding-right: 0.5rem;
    text-align: left;
}

.menu-item-specific-icon {
    background-size: cover;
    background-repeat: no-repeat;
    width: 2rem;
    height: 2rem;
    content: ' ';
    display: inline-block;
    margin-bottom: 0.9rem;
    margin-top: 0.3rem;
}

.menu-item-icon-wrapper {
    margin-right: 0.5rem;
}

.vegetarian {
    background-image: url(/assets/menu/vegetarian-9e43fe1fd48734621b27852470683a01.svg);
}

.alcohol-free {
    background-image: url(/assets/menu/alcohol-free-626552a8f4f7d96d54c54e6d1b180d5e.svg);
}

.tobacco-strength-light {
    background-image: url(/assets/menu/tobacco-strength-light-617f3e61b36bb6e8ed6d568d4e55c412.svg);
    width: 4rem !important;
}

.tobacco-strength-medium {
    background-image: url(/assets/menu/tobacco-strength-medium-192328964d78ceb7c5b11e1e3c1c56af.svg);
    width: 4rem !important;
}

.tobacco-strength-strong {
    background-image: url(/assets/menu/tobacco-strength-strong-759c2f5a84613ac7bff006a6aa304cbc.svg);
    width: 4rem !important;
}

.tobacco-strength-very-strong {
    background-image: url(/assets/menu/tobacco-strength-very-strong-a9d8f4daa0c9be3d0d1b7c4be44b4d8d.svg);
    width: 4rem !important;
}

.spicy-level-mild {
    background-image: url(/assets/menu/spicy-level-mild-c86c3a61d000c938e2dc0ddf133f6128.svg);
    width: 8rem !important;
}

.spicy-level-medium {
    background-image: url(/assets/menu/spicy-level-medium-74a067f96c98b830cf0e5294c4c06bc9.svg);
    width: 8rem !important;
}

.spicy-level-hot {
    background-image: url(/assets/menu/spicy-level-hot-7427174a5b0af276f4db69d96cd3de7e.svg);
    width: 8rem !important;
}

.spicy-level-extra-hot {
    background-image: url(/assets/menu/spicy-level-extra-hot-94d8d76c12c8b2d0a1628123900164fb.svg);
    width: 8rem !important;
}

.tobacco-taste-sweet {
    background-image: url(/assets/menu/tobacco-taste-sweet-d44afbe1d71425597faac3c7c113f92c.svg);
}

.tobacco-taste-spicy {
    background-image: url(/assets/menu/tobacco-taste-spicy-45f83bda499360c21a031cd538157f7f.svg);
}

.tobacco-taste-alco {
    background-image: url(/assets/menu/tobacco-taste-alco-3cff262f0d6797a38b56691f87dd52d3.svg);
}

.tobacco-taste-sour {
    background-image: url(/assets/menu/tobacco-taste-sour-8ca5edd8d28e3391db9df39c40a463bf.svg);
}

.tobacco-taste-ice {
    background-image: url(/assets/menu/tobacco-taste-ice-892a5cdf2cddeb45c5d3ef6d78b730eb.svg);
}

.allergens {
    background-image: url(/assets/menu/allergens-6570a224abf57d228bebf6786d2eb87e.svg);
    position: relative;
}

.allergens .label {
    position: absolute;
    right: -0.7rem;
    top: 0.8rem;
    font-size: 0.9rem;
    width: 1rem;
    height: 1rem;
    color: #202020;
}

.footer .section-body i {
    margin-right: 0.5rem;
}

.footer .address i {
    color: #e64343;
}

.modal-title {
    font-family: 'DINPro-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.card-title {
    font-family: 'DINPro-Medium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.subcategory-body .card-title {
    margin-right: 2.5rem;
}

.main .modal-header .close {
    font-size: 2rem;
    padding: 1rem 1rem;
    margin: -0.5rem -0.25rem -0.5rem -0.25rem;
}

.sub-navigation-toolbar {
    flex: auto;
}

.subcategories-view-switcher {
    padding: 0 0 0 1rem;
    white-space: nowrap;
    text-align: right;
}

.subcategories-view-switcher .btn {
    font-family: 'DINPro-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    transition: all .2s ease-in-out;
    padding: .375rem .6rem;
}

.subcategories-view-switcher .btn-light:not(:disabled):not(.disabled).active:focus,
.subcategories-view-switcher .btn-light:not(:disabled):not(.disabled):active:focus,
.show>.subcategories-view-switcher .btn-light.dropdown-toggle:focus {
    box-shadow: none;
}

.mi-anchor {
    display: block;
    position: relative;
    top: 0rem;
    visibility: hidden;
}

.text-container {
    position: relative;
}

.order-btn {
    font-size: 1.5rem;
    font-family: 'DINPro-Medium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
}

.image-and-body {
    flex: 1;
}

.compact {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: -15px;
    margin-right: -15px;
    padding-top: 1rem !important;
    background-color: #ffffff;
    display: block;
    border-top: 1px solid #e5e5e5;
}

.compact .subcategory {
    padding-bottom: 1rem;
}

.compact .square-image {
    display: none;
}

.compact .thumbnail {
    width: 9rem;
    height: 9rem;
    margin-top: 1rem;
    margin-right: 1rem;
    flex: none;
    position: relative;
}

.compact .thumbnail img {
    border-radius: 1rem;
    object-fit: cover;
    width: 100%;
}

.compact .image-and-body {
    display: flex;
    flex-direction: row;
}

.compact .card-body {
    flex: auto;
    padding: 0.5rem 0 0.5rem 0;
}

.compact .col:last-child .card-body {
    border-bottom: none
}

.compact .text-container {
    min-height: 7.5rem;
}

.compact .description {
    font-size: 1.4rem;
}

.compact h2 {
    font-size: 2.5rem;
    font-family: 'DINPro-Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding-top: 1rem;
}

.compact .menu-item h3 {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
    padding-right: 0;
}

.compact .menu-item .price-area {
    font-size: 1.5rem;
}

.compact .btn-like {
    font-size: 1.5rem !important;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.compact .card {
    background-color: transparent;
    border-bottom: 1px solid #e5e5e5;
}

.compact .card-footer {
    padding: 1.2rem 0 1.1rem 2rem;
}

@media (min-width: 768px) {
    .compact .subcategory-body .row-cols-1>.col {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

.special-offer-main {
    margin-right: -8px;
    margin-left: -8px;
    margin-top: 0.5rem;
    background: #ffffff;
}

.special-offer-main .special-offer-content {}

.special-offer-main .special-offer-title {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.special-offer-main img {
    width: 100%;
}

.special-offer-main h3 {
    font-size: 1.8rem;
    font-family: 'DINPro-Medium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.special-offer-main .strike {
    position: relative;
}

.special-offer-main .strike::after {
    content: '';
    border-bottom: 2px solid red;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
}

.special-offer-main a {
    font-size: 1.2rem;
}

.special-offer-main .special-offer-description {
    white-space: pre-line;
}

.carousel-caption {
    background: rgba(0, 0, 0, .7);
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .9));
    text-align: left;
    color: #ffffff;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 2.5rem 15%;
}

.carousel-caption h3 {
    font-size: 2.5rem;
}

.carousel-caption a {
    color: #ffffff;
}

.special-offer-main-image {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: 100% !important;
}

.search-wrapper input {
    font-size: 1.4rem;
    background-color: transparent;
    border: none;
}

.search-wrapper .form-control {
    border: none;
    color: #ffffff;
}

.search-wrapper .form-control:focus {
    background-color: transparent;
    outline: 0 !important;
    border-color: initial;
    box-shadow: none;
    color: #ffffff;
}

.search-wrapper .input-group-text {
    font-size: 1.4rem;
    border: none;
    color: #ffffff88;
}

.search-wrapper .no-results {
    color: #abb2b8;
    padding: 0.5rem 2rem;
}

.search-results {
    font-size: 1.4rem;
    font-family: 'DINPro-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 0.5rem 0;
    background-color: #000000f0;
    color: #ffffff;
    margin-top: -1px;
    border: 1px solid #000000;
    border-radius: 0 0 0.75rem 0.75rem;
    max-height: 19rem;
    overflow-y: scroll;
}

.search-results a,
.search-results a:hover {
    color: #ffffff;
}

.search-results .search-result-item {
    padding: 0.5rem 2rem;
}

.search-results .search-result-item:hover {
    background: #303030;
}

.search-results .input-group {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.search-item-title {
    padding-left: 0.75rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.search-item-title span {
    margin-right: 1rem;
}

@media screen and (min-width: 767px) {
    .logo {
        padding-bottom: 300px;
    }
    .special-offer-main-image {
        padding-bottom: 368px;
    }
}

@media screen and (max-width: 767px) {
    .carousel-caption {
        background: #ffffff;
        position: relative;
        left: auto;
        right: auto;
        bottom: 0;
        top: 0;
        text-align: left;
        color: #1c1c1c;
        padding: 1.5rem 1rem;
    }
    .carousel-caption a {
        color: #1c1c1c;
    }
    .carousel-caption h3 {
        font-size: 1.75rem;
    }
    .carousel-control-prev {
        display: none;
    }
    .carousel-control-next {
        display: none;
    }
    .special-offer-main-image {
        padding-bottom: 50%;
    }
    .search-wrapper {
        flex: auto;
    }
    .external-links {
        align-items: center;
        justify-content: center;
    }
    .external-links .navbar-nav-svg {
        width: 2.5rem;
        height: 2.5rem;
    }
}

@media (max-width: 767px) {
    .showcase {
        padding-top: 1rem !important;
        border-top: 1px solid #e5e5e5;
    }
    .showcase h2 {
        color: #1c1c1c;
        cursor: pointer;
        font-size: 1.6rem;
        font-weight: normal;
        padding: 1em 2.5em 1em 2.5em;
        background-color: #ffffff;
        margin: 0px 0 0px 0;
        border-radius: 4px;
        box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
        position: relative;
        font-family: 'DINPro-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    .showcase h2:before {
        content: "";
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        left: 18px;
        top: 22px;
        width: 12px;
        height: 7px;
        background-image: url(/assets/images/icon-arrow-477bcec053f0c656271c86ecf10933b0.svg);
        transition: all .2s ease-in-out;
        transform: rotate(0deg);
    }
    .showcase h2.collapsed:before {
        transform: rotate(-90deg);
    }
    .search-results {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .showcase {
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 1rem !important;
        border-top: 1px solid #e5e5e5;
    }
    .showcase .card-body {
        padding: 1.5rem 0 0.5rem 0;
    }
    .card-footer {
        padding: 1rem 0 1.5rem 0;
    }
    .showcase .subcategory {
        border-bottom: 1px solid #e5e5e5;
        margin-bottom: 1rem;
    }
    .subcategory-body {
        padding: 1rem 0 0 0;
    }
    .subcategory-body .row.item-row {
        margin-left: -1rem;
        margin-right: -1rem;
    }
    .subcategory-body .row-cols-1>.col {
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .showcase h2 {
        font-size: 2.5rem;
        font-family: 'DINPro-Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        padding-top: 1rem;
    }
    .search-wrapper {
        width: 31rem;
    }
    .search-results {
        width: 34.5rem;
    }
}

.btn-checkout,
.order-button {
    font-family: 'DINPro-Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    display: inline-block;
    font-size: 1em;
    padding: 1rem 2rem;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-appearance: none;
    appearance: none;
    background-color: #58ce47;
    color: #fff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    -webkit-box-shadow: 0 17px 20px -14px rgba(88, 206, 71, 0.7);
    box-shadow: 0 17px 20px -14px rgba(88, 206, 71, 0.7);
    width: 100%;
    text-align: center;
    z-index: 100;
    letter-spacing: 0.1rem;
}

.btn-checkout {
    width: auto;
}

.compact .order-button {
    padding: 0.75rem 2rem;
    width: auto;
}

.btn-checkout:hover,
.order-button:hover {
    color: #fff;
    -webkit-box-shadow: 0 17px 20px -14px rgba(88, 206, 71, 1);
    box-shadow: 0 17px 20px -14px rgba(88, 206, 71, 1);
}

.btn-checkout:focus,
.order-button:focus {
    outline: 0;
}

.order-button:before,
.order-button:after {
    position: absolute;
    content: "";
    display: block;
    width: 120%;
    height: 100%;
    left: -10%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
}

.btn-checkout:active,
.order-button:active {
    transform: scale(0.9);
    background-color: #47c735;
    box-shadow: 0 17px 20px -14px rgba(88, 206, 71, 1);
    -webkit-box-shadow: 0 17px 20px -14px rgba(88, 206, 71, 1);
}

.btn-group>.form-control:not(:first-child) {
    border-radius: 0;
    border: 1px solid #f8f9fa;
    border-left: none;
    border-right: none;
}

.counter {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    max-width: 10rem;
}

.counter .btn {
    font-size: 1.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 4px;
}

.counter .input-number {
    font-size: 1.25rem;
    text-align: center;
    font-family: 'DINPro-Medium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.counter input {
    outline: 0;
}

.counter input.form-control:focus {
    box-shadow: none;
    outline: none;
    border-top: 1px solid #dae0e5;
    border-bottom: 1px solid #dae0e5;
}

.modal-body .total-price-wrapper {
    display: flex;
    justify-content: flex-end;
    margin: 0 0 1.5rem 0;
    font-size: 2rem;
    border-top: 1px dashed #dee2e6;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.modal-body .total-price-wrapper .total-price-label {
    padding-right: 1rem;
}

.modal-body .total-price-wrapper .total-price .price {
    font-family: 'DINPro-Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.modal-body .total-price-wrapper .total-price .currency {
    font-size: 1.5rem;
}

.modal-footer .button-wrapper {
    text-align: center;
}

.popover {
    font-size: 1.25rem;
    font-family: 'DINPro-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    z-index: 1020;
}

.popover-header {
    font-size: 1.5rem;
    font-family: 'DINPro-Medium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.delivery-details {
    font-size: 1.6rem;
}

.delivery-details input {
    font-size: 1.6rem;
    padding: 2rem 1.5rem;
    color: #212629;
}

.delivery-details input.error {
    color: #fd397a;
    border: 1px solid #fd397a;
}

.modal-header {
    padding: 1.5rem 1.5rem;
}

.modal-body {
    padding: 1.5rem;
}

.modal-footer {
    padding-top: 3rem;
    padding-bottom: 6.5rem;
    display: block;
}

.form-group {
    margin-bottom: 1.5rem;
}

.radio-element {
    display: flex;
    align-items: center;
}

.str-radio {
    display: block;
    position: relative;
    padding-left: 30px;
}

.str-radio>span {
    border: 1px solid #dde1e5;
    position: absolute;
    top: 0.3rem;
    left: 0;
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 50% !important;
}

.str-radio>input:checked~span {
    display: block;
}

.str-radio>span:after {
    content: '';
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    margin-left: -3px;
    margin-top: -3px;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 100% !important;
    border: solid #212629;
    background: #212629;
}

.str-radio>input:checked~span:after {
    display: block;
}

.str-radio input[type='radio'] {
    display: none;
}

label {
    margin-bottom: 0.75rem;
    color: #212629;
}

.form-check-label {
    padding-left: 0.5rem;
}

.delivery-conditions {
    font-size: 1.4rem;
    white-space: pre-line;
    color: #6c757d;
}

.error {
    color: #fd397a;
    font-size: 1.4rem;
    display: block;
}

.confirmation {
    text-align: center;
    font-size: 6rem;
    padding-bottom: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.confirmation .icon {
    color: #58cd47;
}

.confirmation .message {
    font-size: 3rem;
    font-family: 'DINPro-Medium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.confirmation .sub-message {
    font-size: 1.8rem;
}

.delivery-details .iti {
    display: block;
}

.delivery-details .iti__country-list {
    z-index: 102;
}

.iti--container {
    font-size: 1.6rem;
}

a.checkout-link {
    color: #1a73e8;
    line-height: 7rem;
}

a.checkout-link:hover,
a.checkout-link:active {
    text-decoration: underline;
}

#liqpay-checkout {
    background-color: #ffffff;
    margin-left: -15px;
    margin-right: -15px;
}

.footer-sections {
    padding: 0rem 1rem 1rem 1rem;
}

.footer-section {
    padding-top: 2.5rem;
}

.footer .section-title {
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #a0a0a0;
}

.footer .section-body {
    display: flex;
}

.payment-services {
    padding-top: 0.5rem;
}

.payment-service-icon+.payment-service-icon {
    margin-left: 1.5rem;
}

.payment-service-icon {
    width: 5.1rem;
    height: 3.7rem;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 0.25rem;
    opacity: 0.9;
}

.apple-pay {
    background-image: url(/assets/images/apple-pay-8853b6a7e3575e0b00c159ed7d6d1a30.svg);
}

.google-pay {
    background-image: url(/assets/images/google-pay-4825ff84bbc8143a83d9b292d23baacf.svg);
}

.visa {
    background-image: url(/assets/images/visa-e96a2ded46aa9957762f00fb88d92ef1.svg);
}

.mastercard {
    background-image: url(/assets/images/mastercard-2184f6db8e5075b77b309227d58cd8ef.svg);
}

.info {
    padding: 2rem 0;
    font-size: 1.6rem;
}

.info h1 {
    font-size: 3rem;
    font-family: 'DINPro-Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.info h2 {
    font-size: 2.5rem;
    font-family: 'DINPro-Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.info h3 {
    font-size: 2rem;
    font-family: 'DINPro-Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.info a {
    color: #1a73e8;
}

.info a:hover,
.info a:active {
    text-decoration: underline;
}

.info b,
.info strong {
    font-family: 'DINPro-Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.success-order-msg-container {
    color: #434349;
    padding-top: 2.75rem;
    padding-bottom: 4rem;
    text-align: center;
}

.success-order-msg-container .icon {
    font-size: 7rem;
    color: #46c734;
}

.success-order-msg-container .message {
    font-size: 3.5rem;
    font-weight: 400;
}

.success-order-msg-container .sub-message {
    font-size: 1.8rem;
}

.success-order-msg-container .action {
    padding-top: 2.4rem;
    font-size: 1.6rem;
}

.success-order-msg-container .action a {
    color: #1a73e8;
}